<tr>
  <td><%= radio_button_tag :flight_id, flight.id %></td>
  <td><%= flight.from_airport.code %></td>
  <td><%= flight.to_airport.code %></td>
  <td><%= flight.departure %></td>
  <td><%= flight.duration %></td>
</tr>
